.container {
    display: flex;
    flex-direction: column;
}

.table-container {
    max-height: 80vh;
    overflow-y : scroll;
}

.ui-table {
    white-space: nowrap;
}

.order-header {
    cursor: pointer;
}
.order-header:hover {
    cursor: pointer;
    background-color: #577bc9;
}

.order-header.active {    
    background-color: #6b6161;
}

.arrow {
    text-align: right;
    float: right;
}

.center-text {
    text-align: center;
}

.grouper{
    background-color: #a6c8ec;
    font-weight: bold;
    font-style: italic;
    color:#2c7fe6
}