.container {
    display: flex;
    flex-direction: column;
}

.table-container {
    width: 100%;
    max-height: 500px;
    overflow-y : scroll;
}

.ui-table {
    white-space: nowrap;
}

.order-header {
    cursor: pointer;
}
.order-header:hover {
    cursor: pointer;
    background-color: #577bc9;
}

.order-header.active {    
    background-color: #d55555;
}

.center-text {
    text-align: center;
}